body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    color: blue;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: chocolate;
    text-align: center;
}

h3 {
    color: gold;
}
h4 { color: blueviolet;}

p {
    line-height: normal;
}

